<%= form_for(@vo2maximo) do |f| %>
  <% if @vo2maximo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vo2maximo.errors.count, "error") %> prohibited this vo2maximo from being saved:</h2>

      <ul>
      <% @vo2maximo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Distância</label><br>
    <%= f.text_field :distancia %>
  </div>
  <div class="field">
    <%= f.label :aluno %><br>
    <%= f.text_field :aluno %>
  </div>
  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
