<h1>Faça sua Avaliação</h1>

<table>
  <thead>
      <th><%= link_to "Antropometria", new_antropo_path %></th>
      <th> <%= link_to 'IMC', new_calculo_imc_path %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @avaliacaos.each do |avaliacao| %>
      <tr>
        <td><%= avaliacao.pessoa_id %></td>
        <td><%= link_to 'Show', avaliacao %></td>
        <td><%= link_to 'Edit', edit_avaliacao_path(avaliacao) %></td>
        <td><%= link_to 'Destroy', avaliacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Avaliação', new_avaliacao_path %>
