<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title> Superforma</title>
   <%= render 'layouts/stylesheets' %>
   <%= csrf_meta_tag %>
  </head>
  <body>

<%= render 'layouts/menu' %>

 <%= render 'layouts/yield' %>
<%= render 'layouts/banner'%> 


	<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - September 14, 2013!</div>
  <div class="container_13">
    <div class="grid_13">
      <h2>SEJA BEM VINDO AO SUPERFORMA <span class="col1">SISTEMA DE AVALIAÇÃO FÍSICA </span> </h2>
<h3><span>SERVIÇOS</span></h3>
    </div>
    <div class="grid_4">
      <div class="icon">
        <img src="/assets/icon1.png" alt="">
        <div class="title"><%=link_to "CRIE UMA CONTA", new_user_registration_path %></div><span class="col1"><p>Faça seu cadastro grátis e adicione todos os seus alunos. Crie tabelas de exercícios e publique as avaliações físicas de cada aluno para acompanhamento online com gráficos e tabelas.</p>
      </div>
    </div>
    <div class="grid_4">
      <div class="icon">
        <img src="/assets/icon2.png" alt="">
        <div class="title">  <%=link_to "FAÇA O LOGIN", new_user_session_path %></div><span class="col1"><p> Peça para seu treinador cadastrar você e suas avaliações físicas. Acompanhe a sua evolução através de gráficos e do histórico de testes realizados.</p> 
      </div>
    </div>
    <div class="grid_4">
      <div class="icon">
        <img src="/assets/icon3.png" alt="">
        <div class="title">SEJA AVALIADO</div><p> Guarde sua calculadora e suas tabelas, agora o Superforma fará todos os cálculos para você. Preparamos uma série de testes para você usar na sua avaliação. Escolha um e use-o quantas vezes quiser.</p>
      </div>
    </div>
    <div class="grid_13">
      <h3><span>CUIDE DA SUA SAÚDE</span></h3>
    </div>
    <div class="clear"></div>
    <div class="works">
      <div class="grid_4"><a href="#"><img src="/assets/page1_img1.jpg" alt=""></a></div>
      <div class="grid_4"><a href="#"><img src="/assets/page1_img2.jpg" alt=""></a></div>
      <div class="grid_4"><a href="#"><img src="/assets/page1_img3.jpg" alt=""></a></div>
      
    </div>
  <div class="clear"></div>
    <div class="grid_13">
      <h3><span>TREINADORES</span></h3></div>
      <div class="grid_6">
        <blockquote>
          <img src="/assets/page1_img7.jpg" alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <p>“Professora de Educação Física do Instituto Federal do Rio Grande do Norte - Campus Pau dos Ferros.”</p>
            <span class="col2 upp">Rosalva Nunes  </span> 
        </blockquote>
      </div>
      <div class="grid_6">
        <blockquote>
          <img src="/assets/page1_img8.jpg" alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <p>“Professor de Educação Física do Instituto Federal do Rio Grande do Norte - Campus Pau dos Ferros.”</p>
            <span class="col2 upp">Maikon Maia  </span> 
        </blockquote>
      </div>

    
  </div>
</div>

<footer>    
  <div class="container_12">
    <div class="grid_12">
    <div class="socials">
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </div>
      <div class="copy">
      
      </div>
    </div>
  </div>
</footer>

 </body>
</html>
